*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
a{
    text-decoration: none;
}
.Saldos{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}
.saldo{
    margin-top: 2rem;
}
.monto{
    margin-top: 20px;
    background: linear-gradient(rgba(2, 17, 114, 0.55) 44%, rgba(128, 5, 165, 0.386) 75%); ;
    height: 35vh;
    width: 35vw;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingresos{
    display: flex;
    align-items: center;
}
.btns{
    margin-top: 20px;
}
button{
    border-radius: 10px;
    cursor: pointer;
    height: 10vh;
    width: 15vh;
    background:linear-gradient(rgba(10, 35, 125 , 0.60) 33%, rgba(130, 10, 175, 0.45) 66%);
}
.tacho{
    font-size: 1,5rem;
    color: red;
}
.gastos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    font-size: 2rem;
    margin-bottom: 3px;
}
